body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

#navbar {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  color: #fff;
  padding: 1em 6em;
  box-shadow: rgba(0, 0, 0, 0.116) 0 3px 4px 0;
  margin-right: auto;
}

#navbar > ul {
  display: flex;
  padding-left: 0;
  margin-right: auto;
  align-items: center;
}

#logo {
  height: 80px;
  width: 80px;
  position: relative;
  margin-right: auto;
}

#logo img {
  position: absolute;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

#navbar > ul > li {
  list-style-type: none;
}

#navbar > ul > li > a {
  text-decoration: none;
  color: #3c4250;
  padding-right: 2em;
  text-transform: uppercase;
  font-size: 1em;
}

#navbar > ul > li > a:hover {
  color: rgba(0, 0, 255, 0.705);
  letter-spacing: 1px;
}

#active {
  color: blue !important;
  font-weight: 800;
}

.shop {
  text-align: center;
  height: 80%;
}

.shop img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.411) 0 4px 4px 0;
}

.shop p {
  text-align: center;
}

.text1 {
  text-align: left;
  font-size: 1.5em;
  padding-left: 10px;
  font-weight: bolder;
  margin-bottom: 0;
}

.text2 {
  padding-left: 10px;
  margin-top: 10px;
  font-weight: 50;
  font-size: 1em;
  color: grey;
}

.text3 {
  font-weight: 700;
}

.text4 {
  margin-top: 50px;
  text-align: center;
}

.text4 a {
  text-decoration: none;
}

.texthover {
  padding-left: 10px;
  font-weight: 50;
  font-size: 1em;
}

.shop:hover .texthover {
  color: rgba(0, 0, 255, 0.705);
  cursor: pointer;
}

.shop-gallery {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.narrow {
  max-width: 80%;
  margin: auto;
}
