@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
body,
html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Saira Condensed", sans-serif;
    padding: 0;
    margin: 0;
}

#hamburger-navbar {
    display: none;
    
}  

#title {
    display: none;
}

@media screen and (max-width: 768px) {
    #hamburger-navbar {
        display: flex;
    }
    #navbar {
        display: none !important;
    }
}

#navbar {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    color: #fff;
    padding: 1em 6em;
    box-shadow: rgba(0, 0, 0, 0.116) 0 3px 4px 0;
    margin-right: auto;
    z-index: 3;
}

#navbar > ul {
    display: flex;
    padding-left: 0;
    margin-right: auto;
    align-items: center;
}

#logo {
    height: 80px;
    width: 80px;
    position: relative;
    margin-right: auto;
}

#logo img {
    position: absolute;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

#navbar > ul > li {
    list-style-type: none;
}

#navbar > ul > li > a {
    text-decoration: none;
    color: #3c4250;
    padding-right: 2em;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 400;
}

#navbar > ul > li > a:hover {
    color: rgba(0, 0, 255, 0.705);
    letter-spacing: 1px;
}

#active {
    color: blue !important;
    font-weight: 800;
}

.header {
    height: 75%;
    background-image: url("./images/headercar.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    box-shadow: #3c4250 0 4px 4px 0;
}

.header img {
    margin-left: 100px;
    filter: opacity(85%);
}

.shop {
    text-align: center;
    height: 80%;
}

.shop img {
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.411) 0 4px 4px 0;
}

.shop p {
    text-align: center;
}

.text1 {
    text-align: left;
    font-size: 1.5em;
    padding-left: 10px;
    font-weight: bolder;
    margin-bottom: 0;
}

.text2 {
    padding-left: 10px;
    margin-top: 10px;
    font-weight: 50;
    font-size: 1em;
    color: grey;
}

.text3 {
    font-weight: 700;
    font-size: 1.2em;
    margin: 0;
}

.text4 {
    margin-top: 50px;
    text-align: center;
}

.text4 a {
    text-decoration: none;
}

.texthover {
    padding-left: 10px;
    font-weight: 300;
    font-size: 1.1em;
    margin-bottom: 0;
}

.shop:hover .texthover {
    color: rgba(0, 0, 255, 0.705);
    cursor: pointer;
}

.shop-gallery {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.narrow {
    max-width: 80%;
    margin: auto;
    margin-bottom: 100px;
}
.text5 {
    color: black;
}

.text6 {
    text-align: justify;
    margin: 50px;
    font-size: 1.3em;
}

.text7 {
    font-size: 2.5em;
}

.text8 {
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 0;
}

.text9 {
    text-align: justify;
    margin-top: 0;
    font-size: 1.2em;
    color: rgba(24, 23, 23, 0.726);
}

.background {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#myModal {
    display: none;
    z-index: 1;
    width: 100%;
    height: 120%;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.459);
    flex-direction: row;
}

.modalcontent img{
    width: 600px;
    height: 600px;
}

.bodyclass {
    overflow: hidden;
    height: 100%;
}

.close {
    align-self: flex-start;
    right: -300px;
    position: relative;
    top: -350px;
    font-weight: bold;
    font-size: 75px;
    color: white;
    cursor: pointer;
}

.previous,
.next {
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
}

.form {
    width: 300px;
    padding: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(241, 240, 240, 0.589);
    text-align: center;
}
.form h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="tel"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgba(0, 0, 255, 0.705);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.form textarea {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgba(0, 0, 255, 0.705);
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    resize: none;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus,
.form input[type="tel"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.form input[type="text"]:hover,
.form input[type="email"]:hover,
.form textarea:hover,
.form input[type="tel"]:hover {
    width: 280px;
    border-color: #2ecc71;
}

.form input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.form input[type="submit"]:hover {
    background: #2ecc71;
}

.gallery {
    display: grid;
    justify-items: center;
}

.gallery img {
    max-width: 100vh;
    max-height: 100vh;
    box-shadow: #3c4250 0px 4px 4px 0px;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: black;
    display: grid;
    grid-template-areas: "border1 border2 middle border3";
    align-content: center;
    box-shadow: black 4px 4px 4px 4px; 
}

.middlefooter{
    grid-area: middle;

}
.middlefooter p,
.middlefooter a {
    margin: 5px;
    font-size: 17px;
    color: white
}